@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font: 'Roboto Mono', monospace;
    --background: white;
    --color: #232333;
}

body{
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.container {
    margin-top: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 0;
    border-radius: 50%;
    border: solid var(--color) 2px;
}

#userName{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
    margin-top: 16px;
    margin-bottom: 28px;
}

#links{
    max-width: 90%;
    width: auto;
    display: block;
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    min-width: 300px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: dashed var(--color) 2px;
    text-align: center;
    text-decoration: none;  
    color: var(--color);  
    word-wrap: break-word;

}



@media (prefers-color-scheme: dark) {

    :root {        
        --background: #202124;
        --color: white;
    }
  }
  .water-mark-section {
    background-color: #ffffffa7;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 1rem;
}
.water-mark-continer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-left: 8px;
    text-decoration: none;
}
.water-mark{
  width: 50px;
  height: 50px;
  background-color: #fc2;
  border-radius: 20%;
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -3rem;
}
.D1{
  color: #111;
  font-size: 1.4rem;
  text-decoration: none;
}
.water-mark-title{
position: fixed;
bottom: 3.46rem;
  color: #f8e6c4;
  font-size: 1.4rem;
}