* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e0e0e0;
    height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.profile-card {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 2rem 4rem;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 15px 80px;
    margin-top: 12px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.link:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}

.water-mark-section {
    background-color: #ffffffa7;
    width: 150px;
    height: 6
    50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 1rem;
}
.water-mark-continer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-left: 8px;
    text-decoration: none;
}
.water-mark{
  width: 50px;
  height: 50px;
  background-color: #fc2;
  border-radius: 20%;
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -3rem;
}
.D1{
  color: #111;
  font-size: 1.4rem;
  text-decoration: none;
}
.water-mark-title{
position: fixed;
bottom: 3.46rem;
  color: #111;
  font-size: 1.4rem;
}