body {
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif');
}
.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.profile {
  text-align: center;
  color: #FFF;
}
.photo {
  border-radius: 50%;
}
.profile_name {
  font-weight: bold;
  display: block;
  font-size: 1.6rem;
  margin-top: 12px;
  border-radius: 30px;
  border: 4px solid #111;
  padding: 1rem;
  color: #111;
  background-color: #ffffffc4;
  margin-bottom: 48px;
}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  padding: 24px;
  display: block;
  font-size: 1.4rem;
  background-color: #9466FF;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 24px auto;
  transition: ease all 0.3s;
  color: #FFF;
}
.link:hover {
  opacity: 0.9;
}
.card {
  padding: 10px;
  background-color: #FFF;
  border-radius: 4px;
}
.card h3 {
  margin: 0;
  color: #202024;
}
.card p {
  margin: 5px 0;
  font-size: 13px;
  color: #202024;
}
.water-mark-section {
    background-color: #ffffffa7;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 1rem;
}
.water-mark-continer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-left: 8px;
    text-decoration: none;
}
.water-mark{
  width: 50px;
  height: 50px;
  background-color: #fc2;
  border-radius: 20%;
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -3rem;
}
.D1{
  color: #111;
  font-size: 1.4rem;
  text-decoration: none;
}
.water-mark-title{
position: fixed;
bottom: 3.46rem;
  color: #f8e6c4;
  font-size: 1.4rem;
}