*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgb(0, 0, 0));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 90px;
    position: relative;
}


.profile-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile{
    max-width: 100px;
    border-radius: 50%;
}
.username{
    font-size: 21px;
    margin: 12px;
    color: rgb(255, 255, 255);
}
.sub{
    font-size: 14px;
    color: rgb(210, 210, 210);
    text-align: center;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}
.links > a{
    background-color: white;
    width: 291px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 33px 14px 21px;
    box-sizing: border-box;
    margin: 12px;
    border-radius: 6px;
    box-shadow: 4px 4px rgb(165, 165, 165);
    transition: .1s;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.links > a:hover{
    transform: translate(4px, 5px);
    box-shadow: none;
}
.links > a > img{
    width: 27px;
}


.water-mark-section {
    background-color: #ffffffa7;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 1rem;
}
.water-mark-continer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-left: 8px;
    text-decoration: none;
}
.water-mark{
  width: 50px;
  height: 50px;
  background-color: #fc2;
  border-radius: 20%;
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -3rem;
}
.D1{
  color: #111;
  font-size: 1.4rem;
  text-decoration: none;
}
.water-mark-title{
position: fixed;
bottom: 4.2rem;
  color: #f8e6c4;
  font-size: 1.4rem;
}