<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D1shop templates</title>
    <link  rel="shortcut icon" type="image/png" href="https://img.icons8.com/emoji/16/000000/cherry-blossom.png"><!--mention type bfr reffering-->
          <!-- Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="ico.css">
    <link rel="stylesheet" href="animation.css">
    
</head>
<body>
    
    <img class="rainbowcat-left " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt=""> 
    <img class="rainbowcat-left-bottom " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-right " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-right-bottom " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-top roll-in-top" src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-bottom roll-in-bottom" src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <div class="container">
        <div>
            <img  class= "userPhoto " src="https://dyaa-edin.netlify.app/img/web.webp" alt="pfp">
        </div>
        <a class="editable userName" href="#your link">@your name</a>
        <div class="links"> 
            <a class="link" href="#">
                <div class="icons8-mail"></div>
                <p class="editable">Email</p></a>
            <a class="link" href="#" target="_blank" >
                <div class="icons8-discord"></div>
                <p class="editable">Discord</p>
            </a>

            <a class="link" href="#">
                <div class="icons8-instagram"></div>
                <p class="editable">instagram </p></a>
            <a class="link"href="#">
                <div class="icons8-reddit"></div>
                <p class="editable">reddit</p>
            </a>


        </div>
    </div>
    <div class="water-mark-continer">
  <p class="water-mark-title">developed by</p>
<div class="water-mark-section">
  <div class="water-mark bx-spin">
    <a href="https://d1shop.web.app" class="D1">D1</a>
  </div>
            <a href="https://d1shop.web.app" class="logo-text">Shop</a>
        </div>
        </div>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      // تحديد جميع العناصر القابلة للتعديل
const editableElements = document.querySelectorAll('.editable');

// إضافة حدث النقر لتغيير النص
editableElements.forEach(element => {
  element.addEventListener('click', function() {
    // طلب النص الجديد من المستخدم
    const newText = prompt('أدخل النص الجديد:', this.textContent);
    
    // إذا تم إدخال نص جديد، قم بتحديث النص الحالي
    if (newText !== null) {
      this.textContent = newText;
    }
  });
});

    </script>
</body>
</html>